<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Properties>
        <Property name="basePath">/home</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%-5level]  [%t] %c{1} - %msg%n</Property>

    </Properties>

    <Appenders>
        <RollingFile name="fileLogger" fileName="${basePath}/autoTrading.log" filePattern="${basePath}/autoTrading-%d{yyyy-MM-dd}.log.gz">
            <PatternLayout   pattern= "${LOG_PATTERN}" />
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="300 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="50" compressionLevel="9"/>

        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern= "${LOG_PATTERN}" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.suneesh" additivity="false">
            <AppenderRef ref="fileLogger" />
            <AppenderRef ref="console"  />
        </Logger>

        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
